[Unit]
Description=Rclone :: google-photos
#AssertPathIsDirectory=/home/arpan/google-photos
#After=plexdrive.service

[Service]
Type=simple
ExecStartPre=/usr/bin/mkdir -p /home/arpan/google-photos
ExecStart=/usr/bin/rclone mount \
        --config=/home/arpan/.config/rclone/rclone.conf \
#        --allow-other \
        --cache-tmp-upload-path=/home/arpan/.cache/rclone/upload \
        --cache-chunk-path=/home/arpan/.cache/rclone/chunks \
        --cache-workers=8 \
        --cache-writes \
        --cache-dir=/home/arpan/.cache/rclone/vfs \
        --cache-db-path=/home/arpan/.cache/rclone/db \
        --no-modtime \
        --drive-use-trash \
        --gphotos-read-size \
        --log-level=INFO \
        --stats=0 \
        --checkers=16 \
        --bwlimit=40M \
        --dir-cache-time=60m \
        --vfs-cache-mode full \
        --cache-info-age=60m google-photos:/ /home/arpan/google-photos
ExecStop=/bin/fusermount -u /home/arpan/google-photos
Restart=always
RestartSec=10

[Install]
WantedBy=default.target
